body {
    --base: rgb(124, 214, 241);
    --baseHover: rgb(109, 186, 209);

    --preto: rgb(51, 80, 88);
    --fontBranca: rgb(227, 239, 243);
    --fontescura: rgb(96, 105, 109);

    --basebranca: rgb(207, 240, 252);

    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;

    width: 100vw;
}

header {
    background-color: var(--base);
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    color: white;
    padding-right: 1vw;
    padding-left: 1vw;

    h1 {
        min-width: 15vw;
    }
}

#corpo {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jogo {
    display: none;
    flex-direction: column;
    background-color: var(--basebranca);

    width: 70%;
    height: 80%;
    border-radius: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#jogo #pecas {

    display: flex;
    background-color: var(--base);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 15%;
    justify-content: space-around;
    align-items: center;

}

#jogo #pecas button {
    height: 100%;
    width: 50%;
    border: none;
    background-color: var(--base);
}

#jogo #pecas button:first-child {
    border-bottom-left-radius: 20px;
}
#jogo #pecas button:last-child {
    border-bottom-right-radius: 20px;
}
#jogo #pecas button:hover {
    background-color: var(--baseHover);

}

#jogo #tabuleiro {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--basebranca);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    height: 85%;
}

#jogo #tabuleiro .coluna {
    width: 14%;
    height: 100%;
    background-color: var(--base);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: solid var(--base) 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#jogo #tabuleiro .coluna:hover {
    border: solid rgb(66, 66, 66) 2px;

}

#jogo #tabuleiro .coluna .slote {


    border-radius: 100px;
    background-color: var(--baseHover);
    width: 80%;
    height: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;

}

#homepage {
    display: flex;
    flex-direction: column;
    background-color: var(--basebranca);

    width: 70%;
    height: 80%;
    border-radius: 20px;
}

#homepage #cabe {
    background-color: var(--base);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 10%;
    width: 100%;
}

#homepage #orpo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 4vw;

    height: 90%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    h2 {
        color: var(--fontescura);
    }

    button {
        height: 13%;
        width: 25%;
        background-color: var(--base);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 8px;
        border: none;
        color: var(--fontescura);
        font-size: 1.2rem;


    }

    button:hover {
        background-color: var(--baseHover);
    }

}

footer {

    background-color: var(--preto);
    height: 20vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;

    flex-direction: row;

    div {
        width: 45%;

    }

    p {
        width: 80%;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--fontBranca);

        a {
            color: rgb(149, 220, 243);
        }

        a:visited {
            color: rgb(105, 181, 206);
        }

        a:hover {
            color: rgb(111, 192, 219);
        }

        a:active {
            color: rgb(76, 134, 153);
        }
    }
}